[submodule "deps/zgui"]
	path = deps/zgui
	url = git@github.com:fourlexboehm/zaudio.git
[submodule "deps/clap-bindings"]
	path = deps/clap-bindings
	url = https://codeberg.org/fellowtraveler/clap-zig-bindings.git
[submodule "deps/regex"]
	path = deps/regex
	url = git@github.com:fourlexboehm/zig-regex.git
[submodule "deps/libz-jobs"]
	path = deps/libz-jobs
	url = git@github.com:fourlexboehm/LibZ.Jobs.git
